# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv","\t")

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 6. What is the number of columns in the dataset?

In [18]:
print(len(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [29]:
for col in chipo:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [33]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [47]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many items were ordered?

In [86]:
chipo.groupby(['item_name','choice_description']).sum()

                                                                      order_id  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                 19440
                  [Diet Coke]                                            24539
                  [Lemonade]                                              3056
                  [Nestea]                                                1746
                  [Sprite]                                                3541
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...       322
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       688
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...      1132
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...       948
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       304

                                                                      quantity
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    21
                  [Diet Coke]                                               25
                  [Lemonade]                                                 2
                  [Nestea]                                                   2
                  [Sprite]                                                   5
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...         1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...         1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...         1

[1859 rows x 2 columns]

### Step 11. What was the most ordered item in the choice_description column?

In [79]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [54]:
chipo['quantity'].count()

4622

### Step 13. Turn the item price into a float

In [7]:
chipo['item_price']=chipo['item_price'].str.replace("$","").astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 14. How much was the revenue for the period in the dataset?

In [8]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [17]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average amount per order?

In [1]:
avg=chipo.groupby(by=['order_id']).sum()
avg.mean()
item_price.mean()

NameError: name 'chipo' is not defined

### Step 17. How many different items are sold?

In [19]:
chipo['item_name'].value_counts().count()

50