# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [6]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

cars1.head()
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1 = cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [8]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = cars1.append(cars2)
print(cars.head())
print(cars.shape)

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [12]:
owners = np.random.randint(15000,73000,cars.shape[0])
owners

array([23091, 53075, 37598, 50653, 26098, 43974, 64600, 34689, 49416,
       50553, 67992, 20066, 18000, 26916, 33930, 55615, 71497, 62527,
       44602, 72331, 46687, 55835, 42606, 45855, 56596, 71622, 64372,
       56087, 56655, 20791, 62568, 44701, 36810, 57290, 54878, 30313,
       32993, 49159, 42489, 22432, 54442, 52836, 49075, 38421, 54755,
       38550, 47683, 42667, 71627, 36913, 34226, 50521, 57467, 70130,
       24166, 65492, 72887, 29612, 19998, 28005, 32188, 18001, 48259,
       48984, 33940, 42440, 33931, 68148, 32971, 44381, 29181, 44487,
       67652, 35281, 70854, 57443, 26992, 32836, 26929, 47234, 23543,
       44302, 68981, 45117, 44507, 65157, 60768, 36588, 37003, 66255,
       39677, 31517, 44639, 43404, 25842, 72478, 70056, 61903, 30354,
       37422, 62240, 24575, 54808, 40769, 64624, 70834, 22389, 29448,
       70767, 64744, 35217, 61821, 32719, 60062, 34559, 35957, 42568,
       15572, 50589, 37015, 53425, 48674, 24160, 72267, 41346, 26031,
       16241, 44274, 31855, 54339, 63121, 35796, 63699, 40092, 36113,
       38367, 53704, 22810, 38128, 63437, 65550, 36160, 72934, 21281,
       27162, 31755, 32240, 47463, 39479, 55757, 68042, 51181, 41646,
       72729, 18500, 51696, 64000, 68711, 64730, 18741, 40083, 20108,
       59223, 27043, 49409, 35863, 33682, 28564, 56916, 65389, 28728,
       15789, 47386, 34429, 72073, 56081, 60096, 66227, 26168, 54687,
       72955, 72997, 60877, 38653, 50947, 35608, 58529, 36254, 36482,
       61608, 39522, 32042, 68495, 54453, 63558, 16482, 41344, 30164,
       29552, 46618, 62402, 60586, 23728, 58277, 51807, 68259, 36738,
       49907, 48767, 21321, 24020, 38125, 16253, 35095, 40207, 45981,
       65266, 25851, 45747, 57491, 61545, 65598, 26338, 37908, 49908,
       41688, 66704, 59688, 20274, 62347, 21085, 32469, 33132, 31982,
       72392, 27512, 67891, 25255, 16331, 35357, 36911, 40538, 60498,
       59785, 48246, 45876, 52267, 72263, 43103, 21340, 62406, 50626,
       50818, 59324, 31904, 68530, 47649, 36913, 47890, 72288, 72250,
       40290, 39577, 51140, 34164, 66677, 51730, 35302, 68333, 70969,
       37493, 36226, 38763, 50484, 56957, 27037, 69653, 51434, 32660,
       58832, 26161, 61740, 70393, 61441, 35040, 53949, 29533, 51881,
       21996, 35511, 45386, 59916, 38690, 49697, 54468, 35312, 50613,
       22942, 46916, 20619, 70375, 66203, 39229, 39222, 25529, 64843,
       68622, 61306, 70436, 31505, 69977, 27601, 40073, 21594, 65955,
       50679, 25380, 24836, 67826, 41329, 30452, 41409, 61138, 45120,
       39697, 50729, 58376, 22062, 15276, 18857, 25262, 54402, 69146,
       70079, 17757, 65756, 32432, 29587, 42053, 42231, 15150, 33754,
       68068, 23125, 60460, 41196, 41423, 47962, 56187, 65910, 49394,
       68426, 52278, 21770, 67109, 65990, 58309, 50753, 50794, 58499,
       53584, 40080, 68308, 33263, 43157, 31297, 54242, 22622, 23797,
       56958, 52677, 43719, 24902, 27851, 29693, 37216, 66250, 57445,
       63190, 68912, 58889, 53460, 45726, 20996, 57066, 46139, 23551,
       58144, 56318, 30924, 22593, 64889, 18524, 19574, 20595, 40254,
       19335, 69272])

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,23091
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,53075
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,37598
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50653
4,17.0,8,302,140,3449,10.5,70,1,ford torino,26098