# Tips

### Introduction:

This exercise was created based on the tutorial and documentation from [Seaborn](https://stanford.edu/~mwaskom/software/seaborn/index.html)  
The dataset being used is tips from Seaborn.

### Step 1. Import the necessary libraries:

In [2]:

import pandas as pd

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns


# print the graphs in the notebook
# % matplotlib inline

# set seaborn style to white
sns.set_style("white")

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Visualization/Tips/tips.csv).

### Step 3. Assign it to a variable called tips

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Tips/tips.csv'
tips = pd.read_csv(url)

tips.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

### Step 4. Delete the Unnamed 0 column

In [4]:
del tips['Unnamed: 0']
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Step 5. Plot the total_bill column histogram

In [ ]:
# create histogram
ttbill = sns.distplot(tips.total_bill);

# set lables and titles
ttbill.set(xlabel = 'Value', ylabel = 'Frequency', title = "Total Bill")

# take out the right and upper borders
sns.despine()

### Step 6. Create a scatter plot presenting the relationship between total_bill and tip

### Step 7.  Create one image with the relationship of total_bill, tip and size.
#### Hint: It is just one function.

### Step 8. Present the relationship between days and total_bill value

### Step 9. Create a scatter plot with the day as the y-axis and tip as the x-axis, differ the dots by sex

### Step 10.  Create a box plot presenting the total_bill per day differetiation the time (Dinner or Lunch)

### Step 11. Create two histograms of the tip value based for Dinner and Lunch. They must be side by side.

### Step 12. Create two scatterplots graphs, one for Male and another for Female, presenting the total_bill value and tip relationship, differing by smoker or no smoker
### They must be side by side.

### BONUS: Create your own question and answer it using a graph.